<div class="pseudo-page__header">
    <h3>Hello {{ vm().currentUser }} !</h3>
    <h3>You are logged for {{ vm().loggedTime }} s</h3>
</div>
<div class="pseudo-page__container">
    <div class="pseudo-page__todo-list">
        <h2>There is your todo-list</h2>
        <ul>
            @for (element of vm().todoList(); track element.id) {
            <li>{{ element.title }}</li>
            }
        </ul>
        <div class="pseudo-page__actions">
            <button class="pseudo-page__button" (click)="prevPage();"
                [disabled]="((vm().currentPage)  || 1) <= 1">Prev</button>
            <div>{{vm().currentPage }}</div>
            <button class="pseudo-page__button" (click)="nextPage();"
                [disabled]="((vm().currentPage) || 1) >= 10">Next</button>
        </div>
    </div>
</div>