<!-- <app-pseudo-page/>
    <div class="w-60 flex flex-row justify-around">
      <button (click)="changeUser()">Switch User</button>
      <button (click)="logout()">Logout</button>
    </div> -->
    <app-pseudo-page-vm />
    <div class="w-60 flex flex-row justify-around">
      <button (click)="changeUser()">Switch User</button>
      <button (click)="logout()">Logout</button>
    </div>
    <!-- <app-pseudo-page-signals />
    <div class="w-60 flex flex-row justify-around">
      <button (click)="changeUserSignal()">Switch User</button>
      <button (click)="logoutSignal()">Logout</button>
    </div> -->